env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.log
*.csv
*.pdf
*.docx
.env
./utils_multimodal/rag_store
.streamlit/secrets.toml
.env
advance/__pycache__/
advance/*.pyc
advance/kg.sqlite3/
advance/rbac.sqlite3/
advance/.streamlit/
client_secret_986441629855-7bhr3o6hgljm66d1sn2dcveqhgaapqbj.apps.googleusercontent.com (1).json
advance/client_secret.json
llamacheck_metadata/wydot_vector_db
**/model_cache/
